turbospectrum/*
scripts/model_interpolators/*
input_files/model_atmospheres/*
input_files/test_model_atmospheres/*
*.mod
modele.sm
input_files/observed_spectra/*
output_files/*
*/__pycache__/*
temp_directory/*
input_files/linelists/*
scripts/faltbon